.logo{
  width: 100px;
  height: 100px;
}

.brand-title{
  font-family: Lalezar !important;
  font-size: 2rem;
  color: #33393f;
  margin: 0px;
}

.btn-google{
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
}

.forgot-password-link{
  font-size: 12px;
  text-align: left;
}

.signin-button{
  width: 100%;
}

.title-text{
  margin: 0rem 0rem 1rem 0rem;
}



.signin-input{
  background-color: #33393f10 !important;
  color: #424242 !important;
  padding: 0rem 1rem;
  height: calc(2.5rem + 2px) !important;
  border-right-style: solid !important;
  border-right-color: #42424230 !important;
  border-right-width: 1px !important;
}
.signin-modal-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #d7d7d6df;
}
.signin-modal-input::placeholder{
  color: #42424280;
}
.signin-form .input-group-text{
  background-color: #33393f10 !important;
  color: #42424280 !important;
}
.signin-form .form-control::placeholder {
  color: #42424280;
  opacity: 1;
}
.signin-form .form-control:focus::placeholder {
  color: #42424280;
}
.signin-form input:-webkit-autofill,
.signin-form input:-webkit-autofill:hover,
.signin-form input:-webkit-autofill:focus,
.signin-form input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
