.scrollable-body{
    /*position: static;*/
}
.scrollable-card{
    display: flex;
    background-color: transparent;
    overflow-x: auto;
}
.scrollable-card::-webkit-scrollbar{
    /*display: none;*/
}
.scrollable-card--content{
    /*background-color: #dc3545;*/
    /*min-width: 200px;*/
    /*margin: 5px;*/
}
.scroll-arrows-layer{
    background-color: #03091e55;
    display: flex;
    justify-content: space-between;

    /*position: absolute;*/
    /*top: auto;*/
    /*z-index: 10;*/
    /*right: 0;*/
    /*width: -webkit-fill-available;*/
}
.left-arrow{
    background-color: #00000055;
    width: 45px;
    height: 45px;
}
.right-arrow{
    background-color: #00000055;
    width: 45px;
    height: 45px;
}
.right-arrow:hover,
.left-arrow:hover{
    cursor: pointer;
}
.arrow{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
}
