.card-profile-image{
    width: 70px;
}
.card-profile-image1 {
    position: relative; }
.card-profile-image1 img {
    max-width: 180px;
    border-radius: 0.375rem;
    transform: translate(-50%, -30%);
    position: absolute;
    left: 50%;
    transition: all 0.15s ease; }
.card-profile-image1 img:hover {
    transform: translate(-50%, -33%); }
.shadow, .card-profile-image1 img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important; }

.user-status{
  background-color: #fff;
}

.status-text{
font-size: 0.6rem;
padding: 0.1rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.card-profile-social-network-icon{
  color: #33393f !important;
}
.card-profile-social-network-link{
  width: 1.5rem;
  height: 1.5rem;
margin: 0.1rem !important;
padding: 0.1rem;
}

.card-profile-name{
  font-family: Samim-Bold !important;
  padding-right: 20px;
margin-bottom: 2px;
}

.plus-btn-circle {
    width: 20px;
    height: 20px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    
}

.group-profile-btn{
    width: 120px;
    text-align: center;
    padding: 0.2rem 0;
    color: #fff !important;
    font-size: 0.8rem;
}

