.h1-hesabeh {
    font-family: Lalezar, Tahoma, serif;
    display: inline;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 12vmin;
    color: #00e5ac;
}

.h2-hesabeh {
    font-size: 6vmin;
}

.h4-hesabeh {
    font-size: 4vmin;
}

.p-hesabeh {
    font-size: 3vmin;
}

.main-page-text {
    font-size: 3vmin;
}

.land-pic {
    background: url('../../../assets/img/theme/cloud01.png') no-repeat center;
    -webkit-background-size: 60%;
    -moz-background-size: 60%;
    -o-background-size: 60%;
    background-size: 60%;
    padding: auto;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .sec {
        background: none !important;
        transition: background-size .3s !important;
    }
}
@media (max-width: 1024px) {
    .sec {
        background-size: 140vmin !important;
        transition: background-size .3s !important;
    }
}
.sec {
    background: url('../../../assets/img/theme/cloud01.png') no-repeat left bottom;
    background-size: 180vmin;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding-top: 80px;
    transition: all .3s !important;
}

.section {
    padding: 8vmin 0 !important;
}

/* {<div className="landing-position-relative">
<div className="d-flex align-items-center">
    <Container className="d-flex justify-content-start">
      <Row className="d-flex justify-items-center text-center">
        <Col className="pb-5">
          <h2 className="display-3">
            حساب،
            <h1 className="h1-hesabeh">حسابِه</h1>
            ...
          </h2>
          <h4>مدیریت هزینه‌هاتو به حسابِه بسپار</h4>
          <p>هزینه‌های روزمره رو اینجا ثبت کن و به راحتی مدیریتشون کن</p>
        </Col>
      </Row>
    </Container>
</div>

</div>} */


{
/*  <div className="header">

    <h2 className="display-3">
      حساب،
      <h1 className="h1-hesabeh">حسابِه</h1>
      ...
    </h2>
    <h4>مدیریت هزینه‌هاتو به حسابِه بسپار</h4>
    <p>هزینه‌های روزمره رو اینجا ثبت کن و به راحتی مدیریتشون کن</p>


  </div>*/
}


/* section */
.statistics-body {
    background-color: #f3f3f1;
}


/* learning */
.dark-section {
    background-color: #EFF4F7 !important;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.learning-img-card {
    width: 70%;
    height: auto;
}

.learning-card {
    background-color: #fff !important;
    border-radius: 3%;
    margin: 4vmin 16vmin;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    min-width: 100%;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.section-title {
    font-family: Samim-Bold, serif !important;
    color: #03091e !important;
    font-size: 5vmin;
    margin-bottom: 6vmin;
}

.features-btn{
    border-style: dashed;
    margin: 1rem 0.5rem !important;
    min-width: 90%;
    background-color: #fff !important;
    color: #33393f60;
    border-color: #33393f60;
}
.features-btn-not-active {
    color: #33393f60;
    border-color: #33393f60;
    box-shadow: none;
}
.features-btn-active{
    border-color: #33393f !important;
    color: #33393f !important;
}
.features-btn:hover,
.features-btn:focus,
.features-btn:active{
    border-color: #33393f !important;
    color: #33393f !important;
}


.features-img {
    width: 100%;
}

.account-circle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    /* border-style: dashed;
    border-color: #03091e;
    border-width: 2px; */
}
.statistic-circle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    /* border-style: dashed;
    border-color: #03091e;
    border-width: 2px; */
}

.landing-logo {
    width: 24vmin;
    height: 24vmin;
}






.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-10-22 14:9:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
