/* ============================== FONTS ===================================== */
/* ========================================================================== */
@font-face {
  font-family: "Lalezar";
  src: url("../fonts/Lalezar-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Samim";
  src: url("../fonts/Samim-FD.eot");
  src: url("../fonts/Samim-FD.woff") format("woff"),
    url("../fonts/Samim-FD.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Samim-Bold";
  src: url("../fonts/Samim-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* ============================== BODY ===================================== */
/* ========================================================================== */

body {
  font-family: Samim, Tahoma, serif;
  /* background-color: #fff; */
  color: #03091e;
  background-color: #f9f9f9 !important;
  /* background-image: linear-gradient(to top, #d7d7d6, #dededd, #e5e5e3, #ececea, #f3f3f1); */
}
h1, h2, h3, h4, h5, h6{
  color: #03091e ;
}

.my-body {
  margin-top: 15vmin;
  margin-bottom: 5rem;
}

.my-section {
  margin-top: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* ============================== MODALS ==================================== */
/* ========================================================================== */

/* baraye in ke ba zadan ruye modal navbar tekun nakhore */
body.modal-open {
  overflow: inherit;
  padding-right: inherit !important;
}

/* ============================== BUTTONS =================================== */
/* ========================================================================== */
.btn-primary {
  font-size: 2vmin;
  padding: 0.5rem 0.7rem;
  color: #fff;
  background-color: #00e5ac;
  border-color: #00e5ac;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-primary:hover {
  color: #fff;
  background-color: #00e5ac;
  border-color: #00e5ac;
}
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 0 0 rgba(94, 114, 228, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #00e5ac;
  border-color: #00e5ac;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #01cd9a;
  border-color: #01cd9a;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none, 0 0 0 0 rgba(94, 114, 228, 0.5);
}

/* --------------------- */

.btn-default {
  font-size: 2vmin;
  padding: 0.5rem 0.7rem;
  color: #fff;
  background-color: #03091e;
  border-color: #03091e;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-default:hover {
  color: #fff;
  background-color: #03091e;
  border-color: #03091e;
}
.btn-default:focus,
.btn-default.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 0 0 rgba(23, 43, 77, 0.5);
}
.btn-default.disabled,
.btn-default:disabled {
  color: #fff;
  background-color: #03091e;
  border-color: #03091e;
}
.btn-default:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #03091e;
  border-color: #03091e;
}
.btn-default:not(:disabled):not(.disabled):active:focus,
.btn-default:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
  box-shadow: none, 0 0 0 0 rgba(23, 43, 77, 0.5);
}

/* ------------------------ */
.btn-secondary {
  font-size: 2vmin;
  padding: 0.5rem 0.7rem;
  color: #424242;
  background-color: #d7d7d6;
  border-color: #d7d7d6;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-secondary:hover {
  color: #424242;
  background-color: #d7d7d6;
  border-color: #d7d7d6;
}
.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 0 0 rgba(23, 43, 77, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #424242;
  background-color: #d7d7d6;
  border-color: #d7d7d6;
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
  color: #424242;
  background-color: #d7d7d6;
  border-color: #d7d7d6;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
  box-shadow: none, 0 0 0 0 rgba(23, 43, 77, 0.5);
}
/* ------------------------ */
.btn-dark-green {
  color: #424242;
  background-color: #a7ddcd;
  border-color: #a7ddcd;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-dark-green:hover {
  color: #424242;
  background-color: #a7ddcd;
  border-color: #a7ddcd;
}
.btn-dark-green:focus,
.btn-dark-green.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
  0 0 0 0 rgba(23, 43, 77, 0.5);
}
.btn-dark-green.disabled,
.btn-dark-green:disabled {
  color: #424242;
  background-color: #a7ddcd;
  border-color: #a7ddcd;
}
.btn-dark-green:not(:disabled):not(.disabled):active,
.btn-dark-green:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
  color: #424242;
  background-color: #a7ddcd;
  border-color: #a7ddcd;
}
.btn-dark-green:not(:disabled):not(.disabled):active:focus,
.btn-dark-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
  box-shadow: none, 0 0 0 0 rgba(23, 43, 77, 0.5);
}
/* ============================== SECTIONS ================================== */
/* ========================================================================== */
.section-shaped .shape-style-1 span {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.section-shaped .shape-style-1 .span-200 {
  height: 200px;
  width: 200px;
}
.section-shaped .shape-style-1 .span-170 {
  height: 170px;
  width: 170px;
}
.section-shaped .shape-style-1 .span-150 {
  height: 150px;
  width: 150px;
}
.section-shaped .shape-style-1 .span-100 {
  height: 100px;
  width: 100px;
}
.section-shaped .shape-style-1 .span-75 {
  height: 75px;
  width: 75px;
}
.section-shaped .shape-style-1 .span-50 {
  height: 50px;
  width: 50px;
}
.section-shaped .shape-style-1 :nth-child(1) {
  left: 4%;
  top: 12%;
  bottom: auto;
  background: rgba(249, 141, 0, 0.1);
}
.section-shaped .shape-style-1 :nth-child(2) {
  right: 4%;
  top: 10%;
  background: rgba(249, 141, 0, 0.1);
}
.section-shaped .shape-style-1 :nth-child(3) {
  top: 25%;
  right: 25%;
  background: rgba(249, 141, 0, 0.3);
}
.section-shaped .shape-style-1 :nth-child(4) {
  top: 40%;
  right: 12%;
  background: rgba(249, 141, 0, 0.1);
}
.section-shaped .shape-style-1 :nth-child(5) {
  top: 38%;
  left: 1%;
  right: auto;
  background: rgba(249, 141, 0, 0.05);
}
.section-shaped .shape-style-1 :nth-child(6) {
  width: 200px;
  height: 200px;
  top: 44%;
  left: 10%;
  right: auto;
  background: rgba(249, 141, 0, 0.15);
}
.section-shaped .shape-style-1 :nth-child(7) {
  bottom: 60%;
  right: 50%;
  background: rgba(249, 141, 0, 0.27);
}
.section-shaped .shape-style-1 :nth-child(8) {
  bottom: 70px;
  right: 32%;
  background: rgba(249, 141, 0, 0.2);
}
.section-shaped .shape-style-1 :nth-child(9) {
  bottom: 12%;
  right: 2%;
  background: rgba(249, 141, 0, 0.3);
}
.section-shaped .shape-style-1 :nth-child(10) {
  bottom: 10%;
  left: 30%;
  right: auto;
  background: rgba(249, 141, 0, 0.25);
}
@media (max-width: 992px) {
  .section-shaped .shape-style-1 span {
    height: 120px;
  }
}
@media (max-width: 768px) {
  .section-shaped .shape-style-1 span {
    height: 90px;
  }
}
.section-shaped .shape-style-1.shape-primary {
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}
.section-shaped .shape-style-1.shape-default {
  /* background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);  */
}
.section-shaped .shape-style-1.shape-light {
  background: linear-gradient(
    150deg,
    shapes-light-color("step-1-gradient-bg") 15%,
    shapes-light-color("step-2-gradient-bg") 70%,
    shapes-light-color("step-3-gradient-bg") 94%
  );
}
.section-shaped .shape-style-1.shape-dark {
  background: linear-gradient(150deg, #32325d 15%, #32325d 70%, #32325d 94%);
}

/* ============================== AUDIT ================================== */
/* ========================================================================== */
.audit-input {
  background-color: #33393f10 !important;
  color: #424242 !important;
  padding: 0 1rem;
  height: calc(2.5rem + 2px) !important;
  border-right-style: solid !important;
  border-right-color: #42424230 !important;
  border-right-width: 1px !important;
}
.audit-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px #d7d7d6df;
}
.audit-input::placeholder {
  color: #42424280;
}
.audit-form .input-group-prepend{
  background-color: #33393f10 !important;
}
.audit-form .input-group-text {
  background-color: transparent !important;
  color: #42424280 !important;
}
.audit-form .form-control::placeholder {
  color: #42424280;
  opacity: 1;
}
.audit-form .form-control:focus::placeholder {
  color: #42424280;
}
.audit-form input:-webkit-autofill,
.audit-form input:-webkit-autofill:hover,
.audit-form input:-webkit-autofill:focus,
.audit-form input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
.audit-button {
  width: 100%;
  border-style: none;
}
.audit-button-outline {
  width: 100%;
  border-style: solid;
}
.audit-alert {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: 0.7rem;
  color: #b67b81 !important;
  background-color: #f8d7da !important;
}
.audit-success-alert {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: 0.7rem;
  color: #2C693A !important;
  background-color: #D4EDDA !important;
}
.audit-alert > button {
  right: 0;
}
.audit-alert > button > span {
  visibility: hidden;
}
.alert-icon {
  color: #ff0000 !important;
}
/* ------------------------------ AUDIT-HEADER ---------------------------- */
.header-logo {
  background-color: #fff !important;
  border-style: none !important;
  width: 100px !important;
  height: 100px !important;
}
.empty-group{
  border-style: dashed !important;
  border-color: #989898;
  border-width: 2px;
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 1rem;
}
.empty-group:hover{
  border-color: #03091e;
}
.brand-title {
  font-family: Lalezar, serif !important;
  font-size: 2rem;
  color: #03091e !important;
  margin: 0;
}
.brand-title-inline {
  display: inline-flex;
  font-family: Samim-Bold, serif !important;
  color: #03091e !important;
  margin: 0 0.3rem 0 0;
}
.title-text {
  margin: 0 0 1rem 0;
}

/* ============================== TEXTBOX ================================== */
/* ========================================================================== */
.textbox{
  border-radius: 5px;
  border: dashed 1px;
}
.textbox-title {
  background-color: #01cd9a !important;
  font-size: 12px;
  border-radius: 0 5px 5px 0;
  display: flex;
  vertical-align: middle;
}
.textbox-content {
  background-color: #cbcdaa !important;
  border-radius: 5px 0 0 5px;
}

/* ============================== CARD ================================== */
/* ========================================================================== */
.card{
  border-radius: 10px;
}
.card-header{
border-radius: 10px 10px 0 0 !important;
  text-align: center;
  font-size: 1.2rem;
  font-family: Samim-Bold, serif;
  background-color: #fff !important;
  /* background-image: url('../img/theme/card-header-bg-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a7ddcd !important;
  text-shadow:
      -1px -1px 0 #fff,
       1px -1px 0 #fff,
      -1px  1px 0 #fff,
       1px  1px 0 #fff; */
}


/* ============================== TABLE ================================== */
/* ========================================================================== */
.notifications-table{
  margin: 0;
  padding: 0 1rem;
}
.notifications-table-row{
  padding: 0.8rem 0 0.1rem 0;
  justify-content: center;
}
.user-sender{
  margin: 0 0.5rem;
  height: auto;
  position: relative;
  bottom: -9px;
}
.target-group{
  margin: 0 0.5rem;
  position: relative;
  bottom: -9px;
}
.ntr-hr{
  padding: 0;
  border-bottom: dashed 1px #03091e88;
  margin: 0.1rem 4rem;
}
.notification-table-row-btn{
  padding: 0.1rem 1rem;
  margin: 0 0.2rem;
}
.date-request{
  margin: auto 0;
  font-size: 0.9rem;
  padding: 0.1rem 0.5rem;
  text-align: center;
  /*background-color: #ffaa11;*/
  border-radius: 0 5px 5px 0;
}
.payments-table-row-btn{
  width: 100%;
  margin: 0 0 0.25rem 0 !important;
  padding: 0;
}
/*-----------------*/
.table-header {
  background-color: #fff !important;
  border-radius: 5px 5px 0 0 ;
}
.table-header-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  max-width: unset;
  background-color: transparent;
  color: #03091e;
  -webkit-text-stroke: .05rem #01cd9a;
}
.table-header-col > p {
  margin: 0;
}
.table-header-line {
  border-bottom: solid 1px #03091e;
}
.table-row-col {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: unset;
  background-color: transparent !important;
  padding-bottom: 1vmin;
  padding-top: 1vmin;
}
.table-row-line {
  border-bottom: dashed 1px #03091e;
}
@media (min-width: 992px) {
  .check-width {
    width: auto !important;
    flex-grow: unset;
  }
}
/*-------------------*/


.user-group-account-image{
  width: 70px;
  height: 70px;
}
.user-group-account-username{
display: flex;
justify-content: center;
}
