.password-condition-icon{

}

.password-condition-text{
  font-size: 10px;
}





.signup-input{
  background-color: #33393f10 !important;
  color: #424242 !important;
  padding: 0rem 1rem;
  height: calc(2.5rem + 2px) !important;
  border-right-style: solid !important;
  border-right-color: #42424230 !important;
  border-right-width: 1px !important;
}
.signup-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #d7d7d6df;
}
.signup-input::placeholder{
  color: #42424280;
}
.signup-form .input-group-text{
  background-color: #33393f10 !important;
  color: #42424280 !important;
}
.signup-form .form-control::placeholder {
  color: #42424280;
  opacity: 1;
}
.signup-form .form-control:focus::placeholder {
  color: #42424280;
}
.signup-form input:-webkit-autofill,
.signup-form input:-webkit-autofill:hover,
.signup-form input:-webkit-autofill:focus,
.signup-form input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
