

.default-order-label-badge{
  margin: 1rem 0;
  color: #03091e;
  background-color: #ffc107;
  font-family: Samim;
  font-size: 1rem;
}


.nav-pills .nav-link.active{
  background-color:  #141312 !important;
  color: #f98d00 !important;
}

.nav-pills .nav-link{
  color: #141312 !important;
}

.delete-account-btn{
  background-color: #8f7d80;
  color: #fff;
}

.profile-input,
.profile-input:focus,
.profile-input:disabled{
  background-color: #8f7d80;
  text-align: center;
  color: #fff;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-color: #fff !important;
}
.profile-form .input-group-text{
  background-color: #8f7d80;
  text-align: center;
  color: #fff;
}
.color-picker-btn{
  padding: 7px;
  border-radius: 50%;
background-color: #123 !important;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}




.profile-btn{
  margin: 0 1rem;
}
@media (max-width: 575.98px){
.profile-page .card-profile .level2 {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}
.btn:not(:last-child) {

}

.trigger {
padding: 1px 10px;
font-size: 12px;
font-weight: 400;
border-radius: 10px;
background-color: #eee;
color: #212121;
display: inline-block;
margin: 2px 5px;
}

.hoverable, .trigger {
transition: box-shadow 0.55s;
box-shadow: 0;
}

.hoverable:hover, .trigger:hover {
transition: box-shadow 0.45s;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.chip.chip-md {
height: 42px;
line-height: 42px;
border-radius: 21px;
}
.chip.chip-md img {
height: 42px;
width: 42px;
}
.chip.chip-md .close {
height: 42px;
line-height: 42px;
border-radius: 21px;
}
.chip.chip-lg {
height: 52px;
line-height: 52px;
border-radius: 26px;
}
.chip.chip-lg img {
height: 52px;
width: 52px;
}
.chip.chip-lg .close {
height: 52px;
line-height: 52px;
border-radius: 26px;
}


.profile-label{
  text-align: center;
  padding: 0.4rem 1rem;
  margin: 0 1rem 0 0.2rem;
}
.profile-label-close-btn:hover{
    cursor: pointer;
}
.color-picker{
  width: 212px !important;
}
