.filters-row{
  display: flex;
  justify-content: center;
  margin: auto 2rem;
  border-bottom: dashed 1px #03091e55;
  height: 45px !important;

  border-top: dashed 1px #03091e55;
}
.labels-row{
  display: flex;
  justify-content: center;
  margin: auto 2rem;
  border-bottom: dashed 1px #03091e55;
  height: 45px !important;

  /*padding: .5rem .3rem;*/
}
.table-filters-btn{
  /*margin: auto 2vmin;*/
  /*padding: 0.5vmin 2vmin;*/
  padding: .2rem 1rem;
  margin: .5rem .3rem;
  background-color: transparent;
  box-shadow: none;
      font-size: 0.875rem;
}
.table-filters-btn:focus{
  box-shadow: none;
}
.table-filters-btn:hover,
.selected-btn{
  border: solid 1px #00e5ac;
  color: #fff;
  background-color: #00e5ac;
}