.table-filters-btn{
  margin: auto 2vmin;
  padding: 0.5vmin 2vmin;
  background-color: #f0f0f0;
  box-shadow: none;
}
.table-filters-btn:focus{
  box-shadow: none;
}
.table-filters-btn:hover,
.selected-btn{
  border: solid 1px #00e5ac;
  color: #fff;
  background-color: #00e5ac;
}
