/* ============================== NAVBAR ==================================== */
/* ========================================================================== */

/* ------------------------------ toggler ----------------------------------- */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-toggler {
  color: #fff !important;
}

/* ------------------------------ brand ----------------------------------- */
.navbar-brand-title {
  font-family: Lalezar, Tahoma;
  color: #0b1526 !important;
  font-size: 2rem;
  margin-bottom: 0px !important;
}

.brand-logo{
  width: 40px !important;
  height: 40px !important;
}
/* --------------------------- links and buttons --------------------------- */
.navbar-link {
  font-family: Samim-Bold, Tahoma, serif !important;
  color: #0b1526 !important;
  cursor: pointer;
  font-size: 0.75rem !important;
  width: fit-content;
}
.navbar-link-active{
  color: #00e5ac !important;
  font-family: Samim-Bold, Tahoma, serif !important;
  cursor: pointer;
  font-size: 0.75rem !important;
  width: fit-content;
}
.nav-bar-link-active{
  color: #00e5ac !important;
  font-family: Samim-Bold, Tahoma, serif !important;
  cursor: pointer;
  font-size: 0.75rem !important;
  width: fit-content;
}
.signup-button {
  /* border-radius: 3rem; */
  font-size: 0.75rem !important;
  font-family: Samim-Bold, Tahoma, serif !important;
  padding: 0.5rem 0.7rem;
  border-style: none;
}
.notification-btn{
  padding: 0.25rem;
}
.slash {
  font-size: 1rem;
  position: relative;
  top: 3px;
}

/* ------------------------------ profile ----------------------------------- */
.navbar-profile-img{
  border-style: none;
  border-color: #00e5ac;
  border-width: 3px;
  width: 45px;
}
.profile-menu{
  width: 100px;
  min-width: 10rem;
}
.profile-item{
  text-align: right;
  width: 100%;
}
.profile-item-active{
  background-color: #00e5ac !important;
}
.profile-item:focus{
  background-color: #00e5ac !important;
}

/* .id{
  color: #fff !important;
  margin: 0px 0px 0px -3px;
  background-color: #00e5ac !important;
  padding: 1px 6px 1px 3px;
  font-size: 0.7rem;
  border-radius: 0px 10px 10px 0px;
} */
.my-divider{
  border-top-color: #33393f60 !important;
}
.nav-bar-profile-toggle-id{
  margin-bottom: 0;
  text-align: left;
}
.nav-bar-profile-toggle-email{
  margin-bottom: 0;
  text-align: left;
  font-size: 10px;
}
.notification-badge{
  position: relative;
  top: -2px;
  margin-right: 4px;
  font-family: Samim, Tahoma, serif;
  font-size: .9em;
  color: #f0f1f1 !important;
  background-color: #00e5ac;
  border-color: #00e5ac;
}







.navbar-collapse-header {
  display: none; }

@media (max-width: 991.98px) {
  .navbar-link-active{
    color: #00e5ac !important;
    font-family: Samim-Bold, Tahoma, serif !important;
    cursor: pointer;
    font-size: 0.75rem !important;
    width: fit-content;
  }
  .navbar-nav .nav-link {
    padding: .625rem 0;
    color: #172b4d ; }
  .navbar-nav .dropdown-menu {
    box-shadow: none;
    min-width: auto; }
  .navbar-nav .dropdown-menu .media svg {
    width: 30px; }
  .navbar-collapse {
    width: calc(100% - 1.4rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    margin: 0;
    overflow-y: auto;
    height: auto !important;
    opacity: 0; }
  .navbar-collapse .navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0; }
  .navbar-collapse .navbar-toggler span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    opacity: 1;
    background: #FFF; }
  .navbar-collapse .navbar-toggler :nth-child(1) {
    transform: rotate(135deg); }
  .navbar-collapse .navbar-toggler :nth-child(2) {
    transform: rotate(-135deg); }
  .navbar-collapse .navbar-collapse-header {
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(248, 124, 0, 1); }
  .navbar-collapse .collapse-brand img {
    height: 36px; }
  .navbar-collapse .collapse-close {
    text-align: left;    }
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.25rem;
    background: #f0f1f1;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    animation: show-navbar-collapse .2s ease forwards;
    position: relative;
    top: 10px;
  }
  .navbar-collapse.collapsing-out {
    animation: hide-navbar-collapse .2s ease forwards; }
}

@keyframes show-navbar-collapse {
  0% {
    opacity: 0;
    transform: scale(0.95);
    transform-origin: 100% 0; }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes hide-navbar-collapse {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: 100% 0; }
  to {
    opacity: 0;
    transform: scale(0.95); } }

@keyframes show-navbar-dropdown {
  0% {
    opacity: 0;
    transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
    transition: visibility 0.25s, opacity 0.25s, transform 0.25s; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes hide-navbar-dropdown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate(0, 10px); } }
