.new-password-request-section{
  height: 650px;
  padding-top: 7rem;
  background-color: #141312;
}


.alert{
  width: 100%;
}
.logo {
  border-style: solid;
  border-width: medium;
  border-color: #f6f6f6;
}

.brand-title {
  color: #f98d00;
}

.new-password-button{
width: 100%;
}
.new-password-forms{

}

.new-password-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #42424284;
}
.new-password-input::placeholder{
  color: #d7d7d650;
  text-align: center;
}
.new-password-input{
  background-color: #42424280 !important;
  text-align: center;
  /* color: #f98d00; */
}
