/* #----------------------------------- BODY ------------------------------ */
.footer {
  background-color: #00e5ac !important;
  background: url('../../assets/img/theme/pattern.png');
  background-repeat: repeat;
  background-size: contain;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.hr {
  margin-top: 2rem;
  border: none;
  height: 1px;
  color: #141312 !important;
  background-color: #141312 !important;
  opacity: 0.5;
}

/* #----------------------------------- LINKS ----------------------------- */
.social-network-icon{
  color: #03091e !important;
  font-size: 15px;
}
@media (max-width: 990px) {
  .social-network-icon{
    color: #33393f !important;
    margin-left: 10px;
  }
}
.footer-links{
  font-size: 0.8rem;
  font-family: Samim-Bold, serif;
  color: #03091e !important;
}
.footer-links:hover{
  color: #03091e !important;
}

/* #----------------------------------- LOGO ----------------------------- */
.footer-logo-2{
  width: 50px !important;

}
.footer-hesabeh{
  padding: 0;
  margin: 0;
  font-family: Lalezar, serif;
  font-size: 1.5rem;
  position: relative;
  bottom:  -20px;
  height: auto;
  color: #03091e !important;

}
.footer-heabeh-latin{
  font-family: Baloo, serif;
font-size: 1.5rem;
margin: 0;
  padding: 0 0 0 0.3rem;
  position: relative;
bottom:  -5px;
color: #03091e !important;
}
.footer-logo-row{
  margin: 0;
  height: 45px;
  background-color: #f3f3f1;
  display: flex;
  justify-content: center;
}
.footer-logo-1{
  margin-top: -2vw;
    width: 110px !important;
    border-style: solid;
    border-color: #f3f3f1;
    border-width: 2px;
    background-color: #f3f3f1;
}
.footer-company{
  display: block;
  text-align: center;
  padding: auto 4vmin;
  margin-top: 6vmin !important;
}
@media (min-width: 992px) {
  .footer-company{
    margin-top: -1.5vmin !important;
  }
}

.footer-divider{
  border-bottom: dashed #03091e60 2px;
  display: block;
  text-align: center;
  padding: auto 8vmin;
  margin-top: 2vmin !important;
  margin-bottom: 3vmin !important;
}