
.footer {
  background-color: #00e5ac !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.hr {
  margin-top: 2rem;
  border: none;
  height: 1px;
  color: #141312 !important;
  background-color: #141312 !important;
  opacity: 0.5;
}

.social-network-icon{
  color: #33393f !important;
  font-size: 15px;
}
@media (max-width: 990px) {
  .social-network-icon{
    color: #33393f !important;
    margin-left: 10px;
  }
}

.footer-logo-2{
  width: 50px !important;
  
}


.signup-modal-text{
  color: #d7d7d6;
}


.signup-form input:-webkit-autofill,
.signup-form input:-webkit-autofill:hover,
.signup-form input:-webkit-autofill:focus,
.signup-form input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}




.footer-logo{
  margin: 0px;
  height: 45px;
  background-color: #f3f3f1;
  display: flex;
  justify-content: center;
}
.logo{
  margin-top: -2vw;
    width: 130px;
    border-style: solid;
    border-color: #f3f3f1;
    border-width: 2px;
    background-color: #f3f3f1;
}
