.forgot-password-section {
  height: 650px;
  padding-top: 7rem;
  /* background-color: #f3f3f1; */
}
.alert {
  width: 100%;
}
.logo {
  border-style: solid;
  border-width: medium;
  border-color: #f6f6f6;
}

.brand-title {
  color: #f98d00;
}

.new-password-button {
  width: 100%;
}
.new-password-forms {
}

.new-password-input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #42424284;
}
.new-password-input::placeholder {
  color: #d7d7d6;
  text-align: center;
}
.new-password-input,
.new-password-input:focus {
  background-color: #42424280 !important;
  text-align: center;
  color: #fff;
}

.forgot-password-footer-nav-link {
  font-family: Samim, Tahoma !important;
  font-size: 1rem;
  color: #14131280 !important;
  cursor: pointer;
}
.forgot-password-footer-nav-link:hover{
  color: #141312 !important;
}








.support-section {
  height: 650px;
  padding-top: 6rem;
  /* background-color: #f3f3f1; */
}

.support-social-network-icon{
  color: #141312 !important;
  font-size: 15px;
  font-size: x-large;
}
/* @media (max-width: 990px) {
  .support-social-network-icon{
    color: #FFF !important;
    margin-left: 10px;
  }
} */
